<a href="https://colab.research.google.com/github/abanerjee10/Freebie-Magnet/blob/master/MST_branch_and_bound.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import networkx as nx
import numpy as np
import pandas as pd

In [20]:
!unzip DATA.zip

Archive:  DATA.zip
replace DATA/Roanoke.tsp? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [70]:
n=int(open('DATA/Berlin.tsp').readlines()[2][len('DIMENSION: '):])
input=np.loadtxt("DATA/Berlin.tsp",skiprows=5,max_rows=n)

In [71]:
G = nx.from_numpy_matrix(distance_matrix(input[:,1:],input[:,1:]))

In [72]:
T=nx.minimum_spanning_tree(G)

In [80]:
eulerian_cycle = list(nx.eulerian_circuit(T.to_directed(),source=0))

In [101]:
visited_nodes=[]
tour_nodes=[]
for edge in eulerian_cycle:
  if(edge[0] not in visited_nodes):
    tour_nodes.append(edge[0])
  visited_nodes.append(edge[0])
tour_nodes.append(tour_nodes[0])

In [102]:
print(tour_nodes)

[0, 48, 35, 38, 39, 37, 23, 47, 45, 4, 14, 42, 32, 5, 3, 24, 11, 50, 10, 27, 26, 25, 46, 12, 51, 13, 36, 34, 33, 43, 15, 49, 28, 19, 22, 29, 31, 44, 18, 40, 7, 9, 8, 21, 30, 20, 41, 6, 1, 17, 2, 16, 0]

In [103]:
nx.path_weight(G,tour_nodes,'weight')

10306.259546085352

In [106]:
pd.read_csv('DATA/solutions.csv')

        Instance    Value
0        Atlanta  2003763
1         Berlin     7542
2         Boston   893536
3      Champaign    52643
4     Cincinnati   277952
5         Denver   100431
6            NYC  1555060
7   Philadelphia  1395981
8        Roanoke   655454
9   SanFrancisco   810196
10       Toronto  1176151
11  UKansasState    62962
12     UMissouri   132709

In [107]:
10306.259546085352/7542

1.3665154529415742